<a
href="/product/{{product.url}}" class="basis-[324px] md:max-w-[324px] h-full bg-white bg-opacity-[0.04] shadow-lg backdrop-blur-sm flex-1 flex flex-col p-2 rounded-3xl border duration-200 w-full relative">
  {% comment %} <span class="absolute top-4 right-4 text-xs bg-white px-1.5 py-0.5 rounded-sm text-black font-bold w-fit shadow-md">{{product.variantCount}}
            Variant{% if product.variantCount > 1 %}s{% endif %}</span>
      {% endcomment %}
  {% assign checkArray = product.image | split: 'yt:' %}

  {% if checkArray[1] %}
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowFullScreen="false"
      class="w-full object-cover h-[172px] rounded-2xl overflow-hidden"
      frameBorder="0"
      height="172"
      src="https://www.youtube.com/embed/{{ checkArray[1] }}"
      title="YouTube video player"
      width="600"></iframe>
  {% else %}
    <Image
      src="{{product.image | default: '/images/no_image_placeholder.png'}}"
      alt="{{product.name}}"
      height="172"
      width="600"
      class="w-full object-cover h-[172px] rounded-2xl overflow-hidden"></Image>
  {% endif %}

  <div class="flex flex-row justify-between items-center">
    <div class="mt-2 text-left font-semibold text-xl flex-1">
      {{ product.name }}
    </div>
    <div class="mt-2 flex flex-row items-end justify-between gap-3">
      {% if product.payWhatYouWantEnabled == true %}
        <div class="flex flex-row items-center gap-1 mt-2 text-lg">
          <span class="text-[--accent-color] text-xs">Pay What You Want</span>
        </div>
      {% endif %}
      {% if product.stockVisible and product.isNotResellerProduct and product.isEveryVariantWebhook == false %}
        <div class="text-xs">
          {% if product.stockCount > 99 and product.capStock %}
            <span class="px-2 py-1 rounded-xl bg-green-500/15 text-green-500">99+ in Stock</span>
          {% elsif product.stockCount > 999999999999 %}
            <span class="px-2 py-1 rounded-xl bg-green-500/15 text-green-500">∞ Stock</span>
          {% elsif product.stockCount > 0 %}
            <span class="px-2 py-1 rounded-xl bg-green-500/15 text-green-500">{{ product.stockCount }} in Stock</span>
          {% else %}
            <span class="px-2 py-1 rounded-xl bg-red-500/15 text-red-500">Out of Stock</span>
          {% endif %}
        </div>
      {% else %}
        <!-- Force Display Out of stock! Remove it if you dont want to display out of stock even stockVisible is false -->
        {% if product.stockCount == 0 and product.isEveryVariantWebhook == false %}
          <div class="text-xs">
            <span class="px-2 py-1 rounded-xl bg-red-500/15 text-red-500">Out of Stock</span>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="mt-2 flex w-full flex-row items-end gap-4">
    <button
      href="/product/{{product.url}}"
      class="duration-200 inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground px-4 py-2 h-12 w-full rounded-full border border-muted-foreground/10 bg-[#2A2C32] shadow-lg drop-shadow-lg"
      data-id="b782100d-cb9a-4697-ad14-eaeca69760f7"
      data-label="Purchase"
      data-variant="default"
      data-href="https://sellhub.cx">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-shopping-cart">
        <circle
          cx="8"
          cy="21"
          r="1"></circle>
        <circle
          cx="19"
          cy="21"
          r="1"></circle>
        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
      </svg>
      <span>Purchase</span>
    </button>
    <div class="outfit flex flex-col">
      <span class="text-end text-xs text-muted-foreground">Starting at</span>
      {% if product.priceSlash != 0 %}
        <span>
          <span class="font-bold text-2xl text-[--accent-color]">
            <price data-currency="{{product.baseCurrency}}" data-price="{{product.price}}"></price>
          </span>
          <span class="line-through text-sm text-white opacity-80">
            <price data-currency="{{product.baseCurrency}}" data-price="{{product.priceSlash}}"></price>
          </span>
        </span>
      {% else %}
        <span class="text-2xl font-bold text-brand text-[--accent-color]">
          <price data-currency="{{product.baseCurrency}}" data-price="{{product.price}}"></price>
        </span>
      {% endif %}
    </div>
  </div>
</a>